@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        .img-fluid {
            width: 700px;
            height: 700px;
            margin-bottom:20px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }


    </style>

</head>
<body>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="display-4 text-center mb-4">Welcome to the Table of Honor!</h1>

                <p class="lead">
                    
                    Welcome to our website dedicated to gastronomy and culinary pleasures! Our platform opens the doors to a world of exquisite flavors and gustatory discoveries. Whether you are a passionate cooking enthusiast, a connoisseur of fine dining, or simply curious about culinary delights, our site is designed to offer you an unforgettable experience.
                </p>

                Explore a vast collection of enticing recipes, from iconic traditional dishes to innovative creations by talented chefs. Here, you will find a careful selection of the best meals, the finest ingredients, and tips to enhance your preparations.

                Share your own recipes and exchange advice with a passionate community of foodies. Our site is a place of sharing and conviviality, where cooking enthusiasts from all around the world come together to celebrate their love for good food.

                Browse through our rankings and discover the highest-rated dishes by our culinary experts and the votes of the community. Stay up-to-date with the latest gastronomic trends and explore diverse cuisines from all corners of the globe.

                No matter your level of cooking skill, whether you are a beginner or an experienced chef, our site will accompany you in your quest for culinary delights and inspiration.

                Join us for an extraordinary gustatory journey and let yourself be enchanted by the art of cuisine in all its splendor. Welcome to our gourmet world, where the pleasures of the table take center stage!
            </div>
        </div>
    </div>

    <div class="container text-center mt-5">
        <img src="https://cdn.pratico-pratiques.com/app/uploads/sites/2/2020/03/06101337/mille-feuille-maison.jpg" alt="1000 Feuille home made." class="img-fluid">
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
